<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/4-col-portfolio.css"
    <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> <%= title %></h1>
        <img class="img-responsive" src="/images/welcomeBanner.png">
		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
	</div>

    <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Check Out all the cool badges you can earn!
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                
                    <img class="img-responsive" src="/images/earnedTier1.png">
                
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/earnedTier2.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/earnedTier3.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/spentTier1.png">
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/spentTier2.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/spentTier3.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/streakTier1.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/streakTier2.png">
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/streakTier3.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/bigSpenderTier1.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/bigSpenderTier2.png">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="/images/satoshiDice.png">
                </a>
            </div>

        </div>
    
    
</div>
</body>
</html>